/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #28a745;
    color: white;
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #28a745;
    border-radius: 4px;
}

.hero {
    background-color: #b9f3c6;
    color: black;
    padding: 100px 0;
    text-align: center;
}

.hero .btn {
    margin: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.hero .btn.secondary {
    background-color: #2cff41;
    color: #4CAF50;
}

.services, .about, .contact {
    padding: 40px 0;
    text-align: center;
    background-color: white;
    margin: 20px 0;
}

.services h2, .about h2, .contact h2 {
    margin-top: 0;
}

.service-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.service {
    flex-basis: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer .social li {
    margin: 0 10px;
}

footer .social li a {
    color: white;
    text-decoration: none;
}

.search-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    width: 800px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #28a745;
}